<%-include('header')%>
<style>
   .grey{
         height: 20em;
         width: 80em;
         background-color: rgba(246, 246, 246, 0.352);
         opacity: .5;
         position: absolute;
         z-index: 1;}
   .index{
      z-index: 2;

   }      
   
</style>
<div class="grey" ></div>
<div class="index">
<h1 align="center"> About us</h1>
<p style="z-index:2;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus officia distinctio ab autem, quae recusandae tempore, in quas, eum suscipit dicta culpa. Excepturi repellendus aliquam labore, saepe quibusdam unde perferendis!</p>
<%-include('footer')%>
</div>